header {
    background-image: url("http://placeimg.com/640/480/arch/grayscale");
    background-size: cover;
    width: 100%;
    height: 90%;
    padding: 10%;
}

#headerContent{
    background-color: rgb(195, 187, 186, 0.5 );
    padding: auto;
    border-radius: 5%;
    width:fit-content;
    min-width: 600px;
    min-height: 300px;
}

#headerImage{
    background-image: url("http://placebeard.it/640x480");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 45%;
    background-position: center;
}

#headerWords{
    margin: auto;
    text-align: center;
}